fastapi
uvicorn[standard]
celery
redis
python-gitlab
requests
pydantic
chromadb
langchain
langgraph
lmnr[all]
orjson
python-dotenv
ollama
sqlmodel
weaviate-client
loguru
pydantic_settings
langchain_ollama
openai